{% extends 'admin/base.html.twig' %}

{% block title %}Admin panel | Messages{% endblock %}

{% block body %}
    <section class="content-header">
        <h1>
            Messages
            <small>Manage messages by near</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="{{ path('admin_index') }}"><i class="fa fa-dashboard"></i>Home</a></li>
            <li class="active">Messages</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">

                    <table class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th class="text-right">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for message in messages %}
                            <tr>
                                <td>{{ message.id }}</td>
                                <td>{{ message.name }}</td>
                                <td>{{ message.email }}</td>
                                <td class="text-right">
                                    <a href="{{ path('admin_message_view', {'id': message.id}) }}" class="btn btn-primary"><i class="fa fa-eye"></i></a>
                                    {% if is_granted('ROLE_ADMIN') %}
                                    <a href="{{ path('admin_message_delete', {'id': message.id}) }}" class="btn btn-danger" onclick="return confirm('Are you sure?')"><i class="fa fa-trash"></i></a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="col-xs-7 pull-right">
                                <div class="pull-right">
                                    {{ knp_pagination_render(messages) }}
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
{% endblock %}
