{% extends 'admin/base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <section class="content-header">
        <h1>
            User #{{ message.id }}
            <small>Form view</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="{{ path('admin_index') }}"><i class="fa fa-dashboard"></i>Home</a></li>
            <li class=""><a href="{{ path('admin_message_index') }}">Messages</a></li>
            <li class="active">User #{{ message.id }}</li>
        </ol>

    </section>
    {% if is_granted('ROLE_ADMIN') %}
        <div class="pull-right ">
            <a class="btn btn-blog pull-left btn-danger margin-r-5" href="{{ path('admin_message_delete', {'id': message.id}) }}" onclick="return confirm('Are you sure?')">Delete</a>
        </div>
    {% endif %}

    <section class="content container-fluid">

        <div class="row">
            <div class="col-xs-12">

                <div id="message">
                    <div class="form-group">
                        <label class="form-control-label" for="message_name">Name</label>
                        <input type="text" id="message_name" class="form-control" value="{{ message.name }}" disabled>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label required" for="message_email">Email</label>
                        <input type="email" id="message_email" class="form-control" value="{{ message.email }}" disabled>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label required" for="message_name">Content</label>
                        <textarea id="" cols="30" rows="10" class="form-control" disabled>{{ message.content }}</textarea>
                    </div>

                </div>

            </div>
        </div>

    </section>

{% endblock %}