<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Admin Panel | Dashboard{% endblock %}</title>

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    {% block stylesheets %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ asset('admin/dist/css/AdminLTE.css') }}">
        <link rel="stylesheet" href="{{ asset('admin/dist/css/skins/skin-blue.css') }}">
    {% endblock %}
</head>
<body class="skin-blue">
    <div class="wrapper">
        <header class="main-header">
            <a href="{{ path('admin_index') }}" class="logo">
                <!-- LOGO -->
                AdminLTE
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top" role="navigation">
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <!-- Navbar Right Menu -->
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- User Account: style can be found in dropdown.less -->
                        <li>
                            <a href="{{ path('homepage') }}" target="_blank">Open Website</a>
                        </li>
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="/admin/dist/img/avatar5.png" class="user-image" alt="User Image">
                                <span class="hidden-xs">{{ app.user.username }}</span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <li class="user-header">
                                    <img src="/admin/dist/img/avatar5.png" class="img-circle" alt="User Image">
                                    <p>
                                        {{ app.user.name }}
                                        {#<small>Member since Nov. 2012</small>#}
                                    </p>
                                </li>
                                <!-- Menu Body -->
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href="{{ path('admin_user_view', {'id': app.user.id}) }}" class="btn btn-default btn-flat">Profile</a>
                                    </div>
                                    <div class="pull-right">
                                        <a href="{{ path('security_logout') }}" class="btn btn-default btn-flat">Sign out</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">

            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar Menu -->
                <ul class="sidebar-menu" data-widget="tree">
                    <li class="header">MAIN NAVIGATION</li>
                    <li><a href="{{ path('admin_index') }}"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a></li>
                    <!-- Optionally, you can add icons to the links -->
                    <li class=""><a href="{{ path('admin_post_index') }}"><i class="fa fa-newspaper-o"></i> <span>Posts</span></a></li>
                    {% if is_granted('ROLE_ADMIN') %}
                    <li><a href="{{ path('admin_user_index') }}"><i class="fa fa-user"></i> <span>Users</span></a></li>
                    {% endif %}
                    <li><a href="{{ path('admin_message_index') }}"><i class="fa fa-envelope"></i> <span>Messages</span></a></li>
                </ul>
                <!-- /.sidebar-menu -->
            </section>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            {% for message in app.flashes('notice') %}
                <div class="alert alert-success">{{ message }}</div>
            {% endfor %}
            {% for message in app.flashes('error') %}
                <div class="alert alert-error">{{ message }}</div>
            {% endfor %}
            {% block body %}{% endblock %}
        </div>
        <!-- /.content-wrapper -->

    </div>
{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <!-- AdminLTE App -->
    <script src="{{ asset('admin/dist/js/adminlte.js') }}"></script>
{% endblock %}
</body>
</html>