{% extends 'admin/base.html.twig' %}

{% block body %}
    <section class="content-header">
        <h1>
            Home
            <small>Dashboard</small>
        </h1>
        {#<ol class="breadcrumb">#}
            {#<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>#}
            {#<li class="active">Widgets</li>#}
        {#</ol>#}
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-aqua"><i class="fa fa-envelope-o"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">Posts</span>
                        <span class="info-box-number">{{ stats.posts }}</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
            {% if is_granted('ROLE_ADMIN') %}
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-green"><i class="fa fa-user-o"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">Users</span>
                        <span class="info-box-number">{{ stats.users }}</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            {% endif %}
            <!-- /.col -->
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-yellow"><i class="fa fa-files-o"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">Messages</span>
                        <span class="info-box-number">{{ stats.messages }}</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
            {#<div class="col-md-3 col-sm-6 col-xs-12">#}
                {#<div class="info-box">#}
                    {#<span class="info-box-icon bg-red"><i class="fa fa-star-o"></i></span>#}

                    {#<div class="info-box-content">#}
                        {#<span class="info-box-text">Likes</span>#}
                        {#<span class="info-box-number">93,139</span>#}
                    {#</div>#}
                    {#<!-- /.info-box-content -->#}
                {#</div>#}
                {#<!-- /.info-box -->#}
            {#</div>#}
            {#<!-- /.col -->#}
        </div>
    </section>
{% endblock %}