{% extends 'base.html.twig' %}

{% block body %}
    <!-- Page Content -->
    <div class="container">
        <h1 class="mt-4 text-center">Home page - Posts</h1>
        <p>The logo in the navbar is now a default Bootstrap feature in Bootstrap 4! Make sure to set the width and height of the logo within the HTML or with CSS. For best results, use an SVG image as your logo.</p>

        <div class="row">
            {% for post in posts %}
            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="card h-100">
                    <a href="{{ path('page_post', {'id': post.id}) }}"><img class="card-img-top" src="{{ post.image ? vich_uploader_asset(post, 'imageFile') : constant('DEFAULT_IMAGE', post) }}" alt=""></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="{{ path('page_post', {'id': post.id}) }}">{{ post.title }}</a>
                        </h4>
                        <div class="card-text">
                            {{ post.content | excerpt }}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="pagination justify-content-center">
            {{ knp_pagination_render(posts) }}
        </div>

    </div>
    <!-- /.container -->
{% endblock %}
