{% extends 'base.html.twig' %}

{% block title %}{{ post.title }}{% endblock %}

{% block body %}
    <nav class="breadcrumb p-0" aria-label="breadcrumb">
        <div class="container">
            <ol class="breadcrumb m-0">
                <li class="breadcrumb-item"><a href="{{ path('homepage') }}">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ post.title }}</li>
            </ol>
        </div>
    </nav>
    <div class="container">

        <!-- Portfolio Item Heading -->
        <h1 class="my-4">{{ post.title }}</h1>

        <!-- Portfolio Item Row -->
        <div class="row">

            <div class="col-md-4">
                <img class="img-fluid" src="{{ post.image ? vich_uploader_asset(post, 'imageFile') :  constant('DEFAULT_IMAGE', post) }}" alt="">
            </div>

            <div class="col-md-8">
                <p> {{ post.content }}</p>
                <small class="float-right">Created at: {{ post.createdAt | date('y-m-d') }}</small>
            </div>

        </div>
        <!-- /.row -->
    </div>
{% endblock %}