{% extends 'admin/base.html.twig' %}

{% block title %}Admin panel | Create Post{% endblock %}

{% block body %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Post Manager
            <small>Fill the form</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="{{ path('admin_index') }}"><i class="fa fa-dashboard"></i>Home</a></li>
            <li><a href="{{ path('admin_post_index') }}">Posts</a></li>
            <li class="active">Post Manager</li>
        </ol>
    </section>
    <section class="content container-fluid">
        <div class="row">
            <div class="col-xs-12">

                {{ form_start(form) }}
                    {{ form_row(form.title) }}
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="col-sm-9">
                                {{ form_row(form.imageFile) }}
                            </div>
                            <div class="col-sm-3">
                                <img id="preview-image" src="{{ form.vars.data.image ? vich_uploader_asset(form.vars.data, 'imageFile') : constant('DEFAULT_IMAGE', form.vars.data) }}" alt="" height="150">
                            </div>

                        </div>
                    </div>
                    {{ form_row(form.content) }}
                    {{ form_row(form.status) }}
                    {{ form_row(form.owner) }}

                    <button class="btn btn-primary float-right">Save</button>
                {{ form_end(form) }}

            </div>
        </div>
    </section>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function(e) {
                    $('#preview-image').attr('src', e.target.result);
                };
                reader.readAsDataURL(input.files[0]);
            }
        }
        $("#imageFile_file").change(function() {
            readURL(this);
        });
    </script>
{% endblock %}