{% extends 'admin/base.html.twig' %}

{% block title %}Admin panel | Posts{% endblock %}

{% block body %}
    <section class="content-header">
        <h1>
            Posts
            <small>Manage posts by near</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="{{ path('admin_index') }}"><i class="fa fa-dashboard"></i>Home</a></li>
            <li class="active">Posts</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-body">
                        {#<form action="{{ app.request.pathInfo() }}" method="get">#}
                            <div class="row">
                                <div class="col-xs-2"><h4 class="box-title">Filters:</h4></div>
                                <div class="col-xs-4">
                                    <input name="filter_author" type="text" class="form-control" placeholder="Author" value="{{ app.request.get('filter_author') }}">
                                </div>
                                <div class="col-xs-4">
                                    <select name="filter_status" id="" class="form-control">
                                        <option value="">Status</option>
                                        <option value="new" {{ app.request.get('filter_status') == 'new' ? 'selected' : '' }}>New</option>
                                        <option value="published" {{ app.request.get('filter_status') == 'published' ? 'selected' : '' }}>Published</option>
                                    </select>
                                </div>
                                {#{% if app.request.get('sort') %}#}
                                    {#<input type="hidden" name="sort" value="{{ app.request.get('sort') }}">#}
                                    {#<input type="hidden" name="direction" value="{{ app.request.get('direction') }}">#}
                                {#{% endif %}#}
                                <div class="col-xs-2 pull-right">
                                    <button id="filter-button" class="btn btn-primary pull-right">Filter</button>
                                </div>
                            </div>
                        {#</form>#}
                    </div>
                    <!-- /.box-body -->
                </div>

                <div class="box">
                    <div class="box-header">

                        <h3 class="box-title">Table list</h3>
                        <div class="box-tools">
                            <div class="pull-right">
                                <a href="{{ path('admin_post_add') }}" class="btn btn-primary"><i class="fa fa-plus"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="box-body">
                        <table class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>{{ knp_pagination_sortable(posts, 'Id', 'p.id') }}</th>
                                <th>{{ knp_pagination_sortable(posts, 'Title', 'p.title') }}</th>
                                {% if is_granted('ROLE_ADMIN') %}
                                <th class="text-center">Author</th>
                                <th>Date created</th>
                                <th>Date modified</th>
                                {% endif %}
                                <th>Status</th>
                                <th class="text-right">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for post in posts %}
                                <tr>
                                    <td>{{ post.id }}</td>
                                    <td>{{ post.title }}</td>
                                    {% if is_granted('ROLE_ADMIN') %}
                                    <td class="text-center">{{ post.owner ?? '-' }}</td>
                                    <td>{{ post.createdAt | date('Y-m-d') }}</td>
                                    <td>{{ post.updatedAt | date('Y-m-d') }}</td>
                                    {% endif %}
                                    <td>{{ post.status }}</td>
                                    <td class="text-right">
                                        <a href="{{ path('admin_post_view', {'id': post.id}) }}" class="btn btn-primary"><i class="fa fa-eye"></i></a>
                                        <a href="{{ path('admin_post_edit', {'id': post.id}) }}" class="btn btn-success"><i class="fa fa-pencil"></i></a>
                                        <a href="{{ path('admin_post_delete', {'id': post.id}) }}" class="btn btn-danger" onclick="return confirm('Are you sure?')"><i class="fa fa-trash"></i></a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <div class="box-footer">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="col-xs-7 pull-right">
                                    <div class="pull-right">
                                        {{ knp_pagination_render(posts) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $('#filter-button').click(function(event){
            event.preventDefault();
            var url =  new URL(window.location.href);
            var filter_author = $('[name="filter_author"]').val();
            var filter_status = $('[name="filter_status"]').val();
            if(filter_author||filter_status) {
                url.searchParams.delete('filter_author');
                url.searchParams.delete('filter_status');
                url.searchParams.delete('page');
                if (filter_author) {
                    url.searchParams.set('filter_author', filter_author);
                }
                if (filter_status) {
                    url.searchParams.set('filter_status', filter_status);
                }
                window.location = url;
            }
        });
    </script>
{% endblock %}