{% extends 'admin/base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <section class="content-header">
        <h1>
            Post #{{ post.id }}
            <small>Simple view</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="{{ path('admin_index') }}"><i class="fa fa-dashboard"></i>Home</a></li>
            <li class=""><a href="{{ path('admin_post_index') }}">Posts</a></li>
            <li class="active">Post #{{ post.id }}</li>
        </ol>

    </section>
    {% if is_granted('edit', post) %}
    <div class="pull-right ">
        <a class="btn btn-blog pull-left btn-primary mt-1 margin-r-5" href="{{ path('admin_post_edit', {'id': post.id}) }}">Edit</a>
        <a class="btn btn-blog pull-left btn-danger margin-r-5" href="{{ path('admin_post_delete', {'id': post.id}) }}" onclick="return confirm('Are you sure?')">Delete</a>
    </div>
    {% endif %}

    <section class="content-body">

        <div class="col-md-12 blogShort">
            <h1>{{ post.title }}</h1>
            <div class="col-md-4">
            <img src="{{ post.image ? vich_uploader_asset( post, 'imageFile') : constant('DEFAULT_IMAGE', post) }}" alt="post img" class="pull-left img-responsive thumb margin10 img-thumbnail margin-r-5">
            </div>
            <div class="col-md-8">
            {% if post.owner %}
            <em>Author <a href="" target="_blank">@{{ post.owner }}</a></em>
            {% endif %}
            <article>
                <p>
                    {{ post.content }}
                </p>
            </article>
            </div>
        </div>

    </section>

{% endblock %}