{% extends 'base.html.twig' %}

{% block title %}Contact us Page{% endblock %}

{% block body %}

    <nav class="breadcrumb p-0" aria-label="breadcrumb">
        <div class="container">
            <ol class="breadcrumb m-0">
                <li class="breadcrumb-item"><a href="{{ path('homepage') }}">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Contact us</li>
            </ol>
        </div>
    </nav>

    <div class="container">
        {% for message in app.flashes('notice') %}
            <div class="alert alert-success">{{ message }}</div>
        {% endfor %}
        <h1 class="text-center">
            Contact us
        </h1>

        {{ form(form) }}

    </div>

{% endblock %}