{% extends 'admin/base.html.twig' %}

{% block title %}Admin panel | Create Post{% endblock %}

{% block body %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            User Manager
            <small>Fill the form</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="{{ path('admin_index') }}"><i class="fa fa-dashboard"></i>Home</a></li>
            <li><a href="{{ path('admin_user_index') }}">Users</a></li>
            <li class="active">User manager</li>
        </ol>
    </section>
    <section class="content container-fluid">
        <div class="row">
            <div class="col-xs-12">

                {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <button class="btn btn-primary float-right">Save</button>
                {{ form_end(form) }}

            </div>
        </div>
    </section>


{% endblock %}