{% extends 'admin/base.html.twig' %}

{% block title %}Admin panel | Users{% endblock %}

{% block body %}
    <section class="content-header">
        <h1>
            Users
            <small>Manage users by near</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="{{ path('admin_index') }}"><i class="fa fa-dashboard"></i>Home</a></li>
            <li class="active">Users</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Table list</h3>
                        <div class="box-tools">
                            <div class="pull-right">
                                <a href="{{ path('admin_user_add') }}" class="btn btn-primary"><i class="fa fa-plus"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="box-body">
                        <table class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Username</th>
                                <th>Email</th>
                                <th class="text-right">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for user in users %}
                                <tr class="text-right">
                                    <td>{{ user.id }}</td>
                                    <td>{{ user.username }}</td>
                                    <td>{{ user.email }}</td>
                                    <td>
                                        <a href="{{ path('admin_user_view', {'id': user.id}) }}" class="btn btn-primary"><i class="fa fa-eye"></i></a>
                                        <a href="{{ path('admin_user_edit', {'id': user.id}) }}" class="btn btn-success"><i class="fa fa-pencil"></i></a>
                                        <a href="{{ path('admin_user_delete', {'id': user.id}) }}" class="btn btn-danger" onclick="return confirm('Are you sure?')"><i class="fa fa-trash"></i></a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="box-footer">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="col-xs-7 pull-right">
                                    <div class="pull-right">
                                        {{ knp_pagination_render(users) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}