{% extends 'admin/base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <section class="content-header">
        <h1>
            User #{{ user.id }}
            <small>Form view</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="{{ path('admin_index') }}"><i class="fa fa-dashboard"></i>Home</a></li>
            <li class=""><a href="{{ path('admin_user_index') }}">Users</a></li>
            <li class="active">User #{{ user.id }}</li>
        </ol>

    </section>
    {% if is_granted('ROLE_ADMIN') %}
        <div class="pull-right ">
            <a class="btn btn-blog pull-left btn-primary mt-1 margin-r-5" href="{{ path('admin_user_edit', {'id': user.id}) }}">Edit</a>
            <a class="btn btn-blog pull-left btn-danger margin-r-5" href="{{ path('admin_user_delete', {'id': user.id}) }}" onclick="return confirm('Are you sure?')">Delete</a>
        </div>
    {% endif %}

    <section class="content container-fluid">

        <div class="row">
            <div class="col-xs-12">

                <div id="appbundle_user">
                    <div class="form-group">
                        <label class="form-control-label required" for="appbundle_user_username">Username</label>
                        <input type="text" id="appbundle_user_username" class="form-control" value="{{ user.username }}" disabled>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" for="appbundle_user_name">Name</label>
                        <input type="text" id="appbundle_user_name" class="form-control" value="{{ user.name }}" disabled>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label required" for="appbundle_user_email">Email</label>
                        <input type="email" id="appbundle_user_email" class="form-control" value="{{ user.email }}" disabled>
                    </div>

                </div>

            </div>
        </div>

    </section>

{% endblock %}